.admin-container {
  width: 50%;
  margin: 50px auto;
  padding: 30px;
  background: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.admin-container h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 26px;
}

.admin-container button {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  font-size: 18px;
  color: white;
  background: #BB8493;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.admin-container button:hover {
  background: #704264;
}

@media (max-width: 768px) {
  .admin-container {
    width: 80%;
  }
  
  button {
    width: 100%;
  }
}
